h1{
    font-size: 220%;
}

body{
    font-family: Ubuntu,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 130%;
}

p, li{
    margin-bottom: 1%; 
    padding: 1px;
}

tr:nth-child(even) {background-color: #6ec7dd71;}
tr:nth-child(odd) {background-color: #aadae644;}
tr:hover {background-color: rgb(122, 217, 255);}


th {
    color: white;
    background-color: rgb(102, 167, 192);
    font-size: 125%;
}

table {
    border-collapse: collapse;
    font-size: 105%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 1%;
    text-align: left;
}
  

